{% extends '_layouts/base.njk' %}

<title>QUEEN | {% block page_title %}QUEEN{% endblock %}</title>

{% block page_description %}The search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Band Members</h1>
      <p> <a href="freddy.html">Link to Freddy Mercury</a> Lead Vocals and Piano.</p>
      <p> <a href="brian.html">Link to Brian May</a> Guitar and Vocals.</p>
      <p> <a href="roger.html">Link to Roger Taylor</a> Drums and Vocals.</p>
      <p> <a href="john.html">Link to John Deacon</a> Bass Guitar.</p>
     <h2> Discography </h2>
    </div>
  </div>
</div>
{% endblock %}
