{% extends '_layouts/base.njk' %}

<title>QUEEN | {% block page_title %}QUEEN{% endblock %}</title>

{% block page_description %}The search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Band Members</h1>
    <div class="row">
      {% for member in queen.members %}
      <div class="col-sm-6 col-lg-3">
        <div class="card mb-4">
          <img src="img/members/{{member.imagebw}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class ="card-title"> {{member.name}}</h5>
            <p class="card-text">{{ member.instruments}}</p>
            <p> <a href="{{member.slug}}.html">Link to {{member.name}}</a> Lead Vocals and Piano.</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
<div class="container">
  <h2> Discography </h2>
  <div class="row">
  {% for discography in queen.discography %}
    <div class="col-sm-6 col-lg-3">
        <img src="img/discography/{{discs.image}}" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class ="card-title"> {{discography.name}}</h5>
            <p class="card-text">{{ discography.year}}</p>
        </div>
      </div> 
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}

