.jumbotron.banner {
  background: url(../img/queen-live-on-stage.jpg) no-repeat center;
  background-size: cover;
  color: white;
}

.jumbotron {
  margin-bottom: 10px;
}

.jumbotron-text {
  text-align: center;
  margin-bottom: --100px;
  font-family: 'New Rocker', cursive;
  font-size: xx-large;
}